
.products-container{
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 3rem;
    /* grid-template-rows: repeat(1fr,1fr); */
    justify-content: center;
    align-items: center;
    
    
}

.products-card img{
    /* to use object fit we have to set width and height */
    width: 100%;
    height: 300px;
    border: 1px solid var(--border);
}

.products-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    background-color: var(--surface);
}

.products-card p{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
    margin: 0.5rem;
}

.btn:hover{
    background-color: var(--primary);
}


@media (max-width:768px){
    .products-container{
        grid-template-columns: repeat(2,200px);
        gap: 4rem;
    }
}

@media (max-width:480px){
    .products-container{
        grid-template-columns: repeat(1,200px);
        gap: 2rem;
    }
}

