*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--surface);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 0.7rem;
    position: sticky;
    top: 0;
    /* z-index: 100; */
}

.header h1{
    margin-left: 1rem;
    padding: 1rem;
    color: var(--primary);
}

/* .btn{
    width: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */


