
.add-product{
    margin: 1rem;
}

.add-product-form{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.add-product div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 60%;
}

.add-product input{
  /* width: 100%; */
  height: 2rem;
  padding: 0.3rem;
  margin: 0.1rem 0;
  border-radius: 10px;
  border: 2px solid var(--border);
  /* border-color: var(--bg); */
}

.add-product button{
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--primary);
}

 button:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}