:root{
  --primary: #2563eb;
  --btn-color: #325db9;
  --primary-hover: #1d4ed8;
  --accent: #f59e0b;
  --bg: #f9fafb;
  --surface: #ffffff;
  --text-main: #111827;
  --text-muted: #6b7280;
  --border: #e5e7eb;
}


body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  columns: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
    padding: 0.6rem;
    background-color: var(--btn-color);
    border-radius: 1em;
    margin: 1rem 0.5rem;
    cursor: pointer;
    color: white;
    
}


