
.loader{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.loader-circle{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 8px solid #eee; */
    border-top: 8px solid var(--primary);
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}